<div ng-controller="DirectionController">
  <div class="directions mdl-card mdl-shadow--2dp">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Hvor er du?</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Hvor skal du?</label>
        </div>
      </form>
    <div class="mdl-card__menu">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Kjør da
      </a>
    </div>
  </div>
</div>
