<div class="registreringz" ng-controller="RegistrationController">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="logo">
      OSLO POOL
    </div>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Min hjemmeaddresse er...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Jeg drar hjemmefra kl...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Jeg jobber...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Og drar hjem igjen kl...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Og drar hjem igjen kl...</label>
      </div>
      <div style="margin-bottom: 25px">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Jeg stiller som sjåfør</span>
        </label>
      </div>
      <div>
        <a ng-click="go('/directionz')" href="#" style="float: right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Opprett Profil
        </a>
      </div>
    </form>
  </div>
</div>
